%table#instance_list.table.table-striped.table-hover.table-bordered.tablesorter
	%thead
		%tr
			%th Name
			%th Instance ID
			- Ec2::Instance.required_tags.each do |tag|
				%th= tag
			%th Controls
	%tbody
		- @instance_list.each do |instance|
			%tr.instance_row
				%td.instance_name= instance.name
				%td.instance_id= instance.id
				- Ec2::Instance.required_tags.each do |tag|
					%td= instance.tag_value( tag )
				%td.controls= button_to "Wake Up", instance_start_path( instance_id: instance.id ), remote: true
				
